


    <div class="t-rtl">
        <h3>DatePicker</h3>
        @(Html.EasyUI().DatePicker()
                .Name("DatePicker")
                .Value(DateTime.Today)
        )

        <h3>TimePicker</h3>
        @(Html.EasyUI().TimePicker()
                .Name("TimePicker")
                .Value(DateTime.Today)
        )
        
        <h3>DateTimePicker</h3>
        @(Html.EasyUI().DateTimePicker()
                .Name("DateTimePicker")
                .Value(DateTime.Today)
        )
    </div>

