<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="easyui">
      <section name="webAssets" type="EasyUI.Web.Mvc.Configuration.WebAssetConfigurationSection, EasyUI.Web.Mvc" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--CZHCOM-HOST\CZHCOM_DB;Initial Catalog=EasyUI;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Bobcn.com;MultipleActiveResultSets=True-->
    <add name="NorthwindConnectionString"
      connectionString="Data Source=DESKTOP-N3DG9IC;User ID=sa;Password=racing.1;Initial Catalog=EasyUI;Integrated Security=False;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <easyui>
    <webAssets useEasyUIContentDeliveryNetwork="false"/>
  </easyui>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false"
        type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="EasyUI.Web.Mvc.WebAssetHttpHandler, EasyUI.Web.Mvc"/>
      <add verb="GET,HEAD" path="sitemap.axd" validate="false" type="EasyUI.Web.Mvc.SiteMapHandler, EasyUI.Web.Mvc"/>
    </httpHandlers>
    <pages masterPageFile="~/Areas/Aspx/Views/Shared/Examples.Master" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="EasyUI.Web.Mvc.UI"/>
        <add namespace="EasyUI.Web.Mvc.Examples"/>
        <add namespace="EasyUI.Web.Mvc.Examples.Models"/>
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="10240"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc"
        type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="AssetHandler"/>
      <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="EasyUI.Web.Mvc.WebAssetHttpHandler, EasyUI.Web.Mvc"/>
      <remove name="SiteMapHandler"/>
      <add name="SiteMapHandler" preCondition="integratedMode" verb="GET,HEAD" path="SiteMap.axd" type="EasyUI.Web.Mvc.SiteMapHandler, EasyUI.Web.Mvc"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.OrdersAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.EmployeesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.OrdersWcfAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.EmployeesWcfAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.CustomersAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.ProductsAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.ProductsDDIAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.ProductsDDIWcfAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EasyUI.Web.Mvc.Examples.Models.ProductDDIBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="EasyUI.Web.Mvc.Examples.Models.Orders">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.OrdersAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.Orders"/>
      </service>
      <service name="EasyUI.Web.Mvc.Examples.Models.Employees">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.EmployeesAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.Employees"/>
      </service>
      <service name="EasyUI.Web.Mvc.Examples.Models.OrdersWcf">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.OrdersWcfAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.OrdersWcf"/>
      </service>
      <service name="EasyUI.Web.Mvc.Examples.Models.EmployeesWcf">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.EmployeesWcfAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.EmployeesWcf"/>
      </service>
      <service name="EasyUI.Web.Mvc.Examples.Models.CustomersWcf">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.CustomersAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.CustomersWcf"/>
      </service>
      <service name="EasyUI.Web.Mvc.Examples.Models.ProductsWcf">
        <endpoint address="" behaviorConfiguration="EasyUI.Web.Mvc.Examples.Models.ProductsAspNetAjaxBehavior" binding="webHttpBinding"
          contract="EasyUI.Web.Mvc.Examples.Models.ProductsWcf"/>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>