
<p>EasyUI is renowned for making its product consistent across all major browsers: Internet Explorer, Firefox, Safari, Opera and Google Chrome. If an update or a new browser is coming, the EasyUI web components will be the first to support it!</p>
